<head>
	<link rel="stylesheet" type="text/css" href="/css/landing.css">
	<link rel="stylesheet" type="text/css" href="/css/home_page.css">
	<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
	<link rel="stylesheet" type="text/css" href="/css/friends.css">
	<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- 	<script src="/socket.io/socket.io.js"></script> -->
	<title>
		Node Connect
	</title>
</head>