<html>
<%include partials/header%>
<body>
	<%include partials/logout%>
	<h1>Find Friends</h1>
	<%users.forEach(function(user) {%>
		<div class="potential_friend">
			<div class="friend_profile_pic">
				<img src="/profile_images/<%=user.user_profile.profile_pic%>" alt="">
			</div>
			<h3><%=user.name%></h3>
			<button id="<%=user._id%>" class="request_button" type="button">Send Friend Request</button>
		</div>
	<%})%>
</body>
<script>
	$(".request_button").on('click', function() {
		var clicked_button = $(this);
		var data = clicked_button.attr('id');
		$.post('/friend_request', {data: data}, function(response) {
			alert(response)
			clicked_button.closest('.potential_friend').remove();
		})
	})
</script>
</html>
