<%include partials/header%>
<html>
    <body>
        <%include partials/logout%>
        <h1 id="profile_header">Profile</h1>
        <div id="user_profile_div">
            <div class="profile_info" id="profile_picture_div">
                <h2>Name: < %=user.name%></h2>
<!--                 <h4>Location: <  %=user.user_profile.location%></h4>
                <img src="/profile_images/< %=user.user_profile.profile_images%>" alt=""> -->
            </div>
        </div>
    </body>
</html>